{##}

{% if __SELF__.sidebarblogs |length >1 %}
    <div class="uk-margin">
        <h3 class="uk-text-primary">Articles</h3>
        <ul class="uk-list">
  {% for sideblog in __SELF__.sidebarblogs %}
  <li class="uk-margin">
      <a href="{{ 'singles/blog-items'|page({slug: sideblog.slug}) }}" class="uk-grid-small" uk-grid>
              {% if sideblog.teaserimage %}
                       <div class="uk-width-expand">
                         <img data-src="{{ sideblog.teaserimage|media|resize(91,91,{'mode':'crop',  quality: '80'}) }}" alt="{{ sideblog.name }}" uk-img>
                      </div>
            {% endif %}
          <div class="uk-width-2-3">
          	{% if sideblog.publicview != 1 %}<span uk-icon="icon: close; ratio: .5;" class="uk-float-right uk-padding-small"></span>{% endif %}
              <p class="uk-text-primary uk-margin-remove">{{ sideblog.name }}</p>
              <span class="uk-text-small uk-text-meta">Posted on {{ sideblog.date|date('l jS F Y') }}</span>
          </div>
     </a>
  <hr>
  </li>
  {% endfor %}
     </ul>
    </div>
{% endif %}
